* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.web-logo {
    width: 150px;
    margin-left: 30px;
}
body {
    font-family: NSimSun, SimSun;
    background-color: white;
}

header {
    padding: 20px 0;
    font-family: NSimSun;
}
header .containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
    border-bottom: 1px solid #ccc;
}
.containerHeader {
    width: 100%;
    height: 50px;
    margin: 0 auto;
}
.containerHeader h1 a {
    text-decoration: none;
    color:black;
}
.containerHeader nav ul {
    display: flex;
    padding: 0;
}
.containerHeader nav ul li {
    color: black;
    text-decoration: none;
    list-style: none;
    margin-right: 50px; 
}
.containerHeader nav ul li a{
    color: black;
    text-decoration: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    top: 25px;
    z-index: -1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ccc;
}
.buy-link {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 12.5%;
    z-index: 9999;
    display: flex;
}
.buy-link .buy-link-content {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buy-link p {
    text-align: center;
    font-size: 15px;
    color: black;
    font-weight: bolder;
}
.buy-link .buy-link-content img {
    border-radius: 15px;
    width: 100px;
    border: 3px solid white;
}
.hidden {
    display: none;
}


.containerBody {
    margin: 10px;
    letter-spacing: normal;
}
.containerBody h1 {
    display: flexbox;
    padding: 20px;
    text-align: center;
    align-items: center;
}
#overview img {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#overview2 {
    background-color: black;
    display: flex;
    align-items: center;
}
#overview2 img {
    width: 50%;
    height: auto;
    display: left;
    margin-left: 150px;
}
#overview2 .overview2-content {
    margin-left: 50px;
    margin-right: 150px;
    color: white;
    flex-grow: 1;
}
#overview2 .overview2-content h1 {
    font-size: 50px;
    text-align: center;
}
#overview3 {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#overview3 img {
    width: 50%;
    height: auto;
    margin-right: 150px;
}
#overview3 .overview3-content {
    margin-left: 150px;
    margin-right: 10px;
    color: white;
    flex-grow: 1;
}
#overview3 .overview3-content h1 {
    font-size: 50px;
    text-align: center;
}
#overview4 {
    position: relative;
}
#overview4 img {
    display: block;
    width: 100%; 
    padding-left: 150px; 
    padding-right: 150px; 
}
#overview4 .overview4-content1 h1, #overview4 .overview4-content2 h1, #overview4 .overview4-content3 h1 {
    font-size: 50px;
}
#overview4 .overview4-content1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
    color: black;
}
#overview4 .overview4-content2 {
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
    color: black;
}
#overview4 .overview4-content3 {
    position: absolute;
    top: 60%;
    right: 20%;
    transform: translate(50%, -50%);
    padding: 10px;
    text-align: center;
    color: black;
}
#overview5 {
    background-color: black;
    height: 700px;
}
#overview5 .overview5-content h1 {
    font-size: 50px;
    text-align: left;
}
#overview5 .overview5-content {
    margin-left: 100px;
    margin-right: 100px;
    color: white;
    flex-grow: 1;
}
#overview5 .overview5-content .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 10px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
}
#overview5 .overview5-content .gallery-item {
    overflow: hidden;
}
#overview5 .overview5-content .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
#overview6 {
    text-align: center; 
}
#overview6 h1 {
    font-size: 50px;
}
#overview6 .overview6-content {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}
#overview6 .media-description {
    width: 250px;
    margin: 0 10px;
}
#overview6 .media-description img,
#overview6 .media-description video {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}
#overview7 {
    padding-top: 30px;
    overflow-x: hidden; 
}

#overview7 .overview7-content {
    display: flex;
    animation: scroll 20s linear infinite; 
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%); 
    }
}
#overview7 .overview7-content2 {
    h1 {
        font-size: 40pt;
    }
    p {
        margin-left: 100px;
    }
}
#overview7 .overview7-content3 {
    flex: 0 0 auto;
    width: 300px;
    height: auto;
    object-fit: cover;
    margin: 10px;
    background-color: #ddd;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
}
#overview7 .overview7-content3 img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
#overview7 .overview7-content4 {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
#overview7 .overview7-content5 {
    width: 33.3%;
    padding: 1%
}
#overview7 .overview7-content5 p {
    text-align: justify;
}
#overview8 {
    display: flex;
    background-color: black;
    color: white;
}
#overview8 .overview8-content {
    width: 100%;
    padding: 1%;
    margin-left: 5%;
    margin-right: 5%;
}
#overview8 .overview8-content .overview8-content2 {
    width: 50%;
    float: left;
    padding: 1%;
    text-align: justify;
    justify-content: center;
    align-items: center;
}
#overview8 .overview8-content .overview8-content2 h1 {
    font-size: 40pt;
}
#overview8 .overview8-content .overview8-content2 p {
    font-size: 20pt;
    padding: 1%;
}
#overview8 .overview8-content .overview8-content2 video{
    width: 100%;
    right: 0;
    float: right;
}
#overview9 {
    display: flex;
    background-color: black;
    color: white;
}
#overview9 .overview9-content {
    width: 100%;
    padding: 1%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
}
#overview9 .overview9-content .overview9-content2 {
    width: 33.3%;
    float: left;
    padding: 1%;
    text-align: justify;
    font-size: 20px;
}
#overview9 .overview9-content .overview9-content2 h1 {
    text-align: left;
    font-size: 50px;
    padding-left: 0;
}
#overview9 .overview9-content .overview9-content2 img{
    width: 50%;
    right: 0;
    float: right;
    margin-right: 30px;
}
#specs {
    padding-top: 2%;
    background-color: white;
}
#specs .specs-content1 {
    background-color: black;
    color: white;
    padding: 10px;
}
#specs .specs-content1 h1 {
    text-align: left;
    margin-left: 5%;
}
#specs .specs-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: left;
    padding-left: 5%;
    padding: 0.5%;
    background-color: lightgray;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
#specs .specs-header img {
    margin-left: 5%;
}
#specs .specs-header h3 {
    margin-left: 2%;
    font-size: 30px;
}
#specs .specs-details {
    display: none;
    line-height: 200%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: larger;
    margin-top: 3%;
}
#specs .specs-details p {
    margin-top: 2%;
}
#processor-icon, #camera-icon, #display-icon, #capacity-icon, #os-icon, #battery-icon, #dimension-icon, #inthebox-icon {
    font-size: 40px;
    order: 2;
    margin-right: 2%;
}
.specs-details .dimension-images img{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%
}
#buynow {
    background-color: white;
    padding: 10px
    text-align: center;
    font-size: 30px;
}
#buynow img {
    width:100%;
}
#buynow .buynow {
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
}
#buynow .buynow .buynow2 img{
    width: 50%;
    height: 100%;
    border-radius: 30px;
    margin-left: 20%;
    margin-right: 20%;
}

footer {
    background-color: black;
    padding-bottom: 20px;
}
footer p {
    color: white;
    text-align: center;
}
.moreInfo {
    display: flex;
    color: white;
    padding: 50px;
}
.moreInfo ul li {
    align-items: center;
    list-style: none;
}
.moreInfo a {
    text-decoration: none;
    color: white;
}
#products {
    width: 35%;
    margin-left: 30px;
}
#company {
    width: 30%;
}
#newsletter {
    margin-left: 250px;
    width: 35%
    padding-bottom: 40px;
}
#newsletter h4 {
    margin-bottom: 10px;
}
#newsletter p {
    font-size: 16px;
    margin-bottom: 20px;
    letter-spacing: 0;
    text-align: left;
}
#newsletter form {
    display: flex;
}
#newsletter input[type="email"] {
    width: 250px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    background-color: black;
    font-family: VSimSum;
    color: white;
}
#newsletter button[type="submit"] {
    background-color: black;
    border-radius: 5px;
    border: 2px solid white;
    padding: 10px;
    font-family: VSimSum;
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: white;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.containerFooter nav ul {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.containerFooter nav ul li {
    list-style: none;
    text-align: center;
    margin-right: 80px;
}
.containerFooter nav ul li:last-child {
    margin-right: 0;
}
.containerFooter a {
    color: white;
    text-decoration: none;
}
.socialLinks {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
}
.socialLinks a {
    display: inline-block;
}
footer img {
    width: 30px;
    border-radius: 100%;
    margin: 0 5px;
}

.containerHeader nav ul li:hover > a {
    color: black;
}
.containerHeader nav ul li:hover .dropdown-content {
    display: block;
}
.moreInfo a:hover {
    color: gray;
}
.containerFooter a:hover {
    color: grey;
}
.learnmoreButton:hover {
    background-color: #0056b3;
}
#newsletter button[type="submit"]:hover {
    background-color: white;
    color: black;
}

#overview5 .overview5-content .gallery-item:hover img {
    transform: scale(1.1);
    object-fit: cover;
    border-radius: 5px;
}